body>div {
  background: #F87E08;
}

#nav-top nav.navbar {
  padding: 0.5rem 0;
  width: 1024px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background: none;
}

#nav-top nav.navbar a.nav-link,
#nav-top nav.navbar a.navbar-brand,
#nav-top nav.navbar .navbar-brand a {
  color: #fff;
}

.gd-prj-list-head {
  width: 1024px;
  margin: auto;
  padding-top: 1.5em;
  color: #fff;
}

.gd-prj-list-topbar {
  display: flex;
  padding: 1.5rem 3rem;
  align-items: center;
  color: #fff;
}

.gd-prj-list-topbar img {
  height: 5rem;
}

.gd-prj-list-topbar .btn {
  border: 1px solid #fff;
  color: #fff;
}

.gd-prj-list-topbar .btn:hover {
  background: #fff;
  color: #000;
}

.gd-prj-list-banner {
  background-color: #343a40;
  width: 100%;
  height: 46vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gd-prj-list-desc p.desc {
  color: #eee;
  white-space: pre-wrap;
  font-size: 1em;
  margin-bottom: 3em;
  overflow-y: auto;
  opacity: 1;
}

.gd-prj-list-ctrl {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5em 0;
}

.gd-prj-list-ctrl .btn {
  background: #fff;
  border: 1px solid #007bff;
  color: #007bff;
}

.gd-prj-list-ctrl .btn.active {
  background: #007bff;
  border: 1px solid #007bff;
  color: #fff;
}

.gd-prj-card {
  display: block;
  margin: 1.5em 0;
  padding: 1.5em 0;
  display: flex;
  flex-direction: column;
  width: 19em;
  color: #fff;
}

.gd-prj-card>a {
  text-decoration: none;
  color: #fff;
}

.gd-prj-card-thumb {
  display: block;
  background: #f1f2f3;
  background-size: cover;
  background-position: center center;
  border-radius: 0.2em;
  margin-bottom: 1em;
}

.gd-prj-card-badge[data-type] {
  position: absolute;
  padding: 0.25em 0.75em;
  font-size: 0.9em;
  background: #4b0;
  border-bottom: 1px solid #170;
  top: 0.66em;
  left: -0.25em;
  color: #fff;
}

.gd-prj-card-badge[data-type=final] {
  background: #09f;
  border-bottom: 1px solid #04c;
}

.gd-prj-card-badge[data-type=winner] {
  background: #f40;
  border-bottom: 1px solid #c10;
}

.gd-prj-card-badge[data-type=special] {
  background: #fa4;
  border-bottom: 1px solid #d99b49;
}

.gd-prj-card-name {
  display: block;
  font-weight: 500;
  font-size: 1.25em;
}

.gd-prj-card-owner {
  display: block;
  margin: 0 0 0.5em 0.1em;
  font-size: 0.8em;
}

.gd-prj-card-owner a {
  color: #fff;
  text-decoration: underline;
}

.gd-prj-card-description {
  display: block;
}

.gd-prj-list-search-box .btn {
  border: 1px solid #fff;
  color: #fff;
}

.gd-prj-list-search-box .btn:hover {
  background: #fff;
  color: #000;
}

.gd-prj-list-pagination .btn {
  border: 1px solid #fff;
  color: #fff;
}

.gd-prj-list-pagination .btn:hover {
  background: #fff;
  color: #000;
}

.gd-prj-list-pagination .btn.active {
  background: #fff;
  border: 1px solid #fff;
  color: #444;
}

.gd-prj-view {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 6em 0 1.5em;
  background-image: url("https://sch001.g0v.tw/assets/img/bg2023.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gd-prj-view .inner {
  width: 1024px;
  height: 100%;
  margin: auto;
  padding-top: 1.5em;
  margin-top: 1em;
}

.gd-prj-view-header.simple {
  display: flex;
  margin-bottom: 2.5em;
  color: #fff;
}

.gd-prj-view-header.simple .thumb {
  border-radius: 0.25em;
  background-color: #222;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 1.5em 3em 0 0;
  width: 9.25em;
  height: 9.25em;
  flex: 0 0 auto;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}

.gd-prj-view-header.simple .info {
  flex: 1 0 auto;
  padding-right: 0.5em;
  width: 768px;
  max-width: 90%;
  margin: auto;
}

.gd-prj-view-header.simple .brd {
  font-size: 0.85em;
  color: #777;
}

.gd-prj-view-header.simple .title {
  display: flex;
  align-items: flex-end;
  margin-top: 0.25em;
}

.gd-prj-view-header.simple .title h2 {
  margin: 0.25em 0 0;
  line-height: 1em;
}

.gd-prj-view-header.simple .tags {
  line-height: 1em;
  margin-left: 1em;
  flex: 1 0 auto;
}

.gd-prj-view-header.simple .tags a {
  text-decoration: none;
  color: #444;
  margin-right: 0.5em;
  background: #e0e1e2;
  padding: 0.1em 0.4em;
  animation: ld-float-rtl-in 1s linear;
  animation-fill-mode: forwards;
  opacity: 0.05;
  transform: matrix(1, 0, 0, 1, 14.925, 0);
  font-size: 0.8em;
  border-radius: 0.25em;
}

.gd-prj-view-header.simple .btn {
  border: 1px solid #fff;
  color: #fff;
}

.gd-prj-view-header.simple .btn:hover {
  border: 1px solid #fff;
  background: #fff;
  color: #222;
}

.gd-prj-view-header.simple .user {
  display: flex;
  margin: 1.5em 0;
  flex: 1 0 auto;
}

.gd-prj-view-header.simple .user .item {
  margin-right: 1.5em;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
}

.gd-prj-view-header.simple .user .item .label {
  opacity: 0.8;
  margin-right: 1em;
}

.gd-prj-view-header.simple .user .item .name {
  color: #fff;
}

.gd-prj-view-header.simple .user .item .avatar {
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  margin-right: 0.5em;
  display: inline-block;
  background-color: #777;
}

.gd-prj-view-header.simple .hr {
  width: 100%;
  margin: 1.5em 0;
  height: 2px;
  background: linear-gradient(90deg, #aaebcc, #ddfeef);
}

.gd-prj-view-header.simple .brief p {
  color: #fff;
}

.gd-prj-view-header.simple a {
  color: #fff;
  text-decoration: underline;
}

.gd-prj-view-body.simple {
  width: 100%;
  background: #eeeff0;
  padding-top: 1.5em;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 2em 0 4em;
}

.gd-prj-view-body.simple .inner {
  width: 1024px;
  max-width: 90%;
  height: 100%;
  margin: auto;
}

.gd-prj-view-body.simple .block {
  padding: 1.5em;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background: #fff;
  border-radius: 0.25em;
  margin-bottom: 1.5em;
}

.gd-prj-view-body.simple .caption {
  padding: 1.5em 0;
}

.gd-prj-view-body.simple .caption h3 {
  margin-top: 1.5em;
}

.gd-prj-view-body.simple .caption p {
  opacity: 0.9;
}

@media (max-width: 1024px) {
  .gd-prj-view {
    padding-top: 60px;
  }

  .gd-prj-view .inner {
    width: 95%;
    padding-top: 0;
    margin-top: 0;
  }

  .gd-prj-view-header.simple {
    flex-wrap: wrap;
  }

  .gd-prj-view-header.simple .thumb {
    margin: 0 auto 2em;
  }

  .gd-prj-view-header.simple .title {
    flex-wrap: wrap;
  }

  .gd-prj-view-header.simple h2,
  .gd-prj-view-header.simple .tags {
    margin-bottom: 1em;
  }

  .gd-prj-view-header.simple .action {
    width: 100%;
  }

  .gd-prj-view-body.simple .block {
    padding: 1em;
  }
}

@media (max-width: 1024px) {
  .gd-prj-list-head {
    width: 100%;
  }

  .gd-prj-list-banner {
    border-radius: 0;
  }

  .gd-prj-list-banner>.vertical-center {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 0;
  }

  .gd-prj-list-info {
    width: 100%;
    margin: 0;
    padding: 1em;
  }

  .gd-prj-list-ctrl {
    flex-direction: column-reverse;
    width: 90%;
    margin: auto;
  }

  .gd-prj-list-search-box {
    margin-bottom: 1em;
  }

  .gd-prj-card {
    flex: 1 0 auto;
  }
}