- var _partners = partners
<!DOCTYPE html>
html(lang="zh-Hant-TW")
  include ../header.pug
  link(rel="stylesheet" href="/styles/partners.css")
  body(data-spy="scroll" data-target=".navbar" data-offset="100")
    include ../nav.pug
    .container
      h1.text-center.py-4.m-0 社群夥伴
      hr
      mixin partners-block(_id)
        .partners-block.col-lg-3.text-center.p-3.m-3
          a(target="_blank" href=_partners[_id].link)
            .partner-img(style="background-image: url(/assets/partners/"+_partners[_id].img+");")
            h4.text-center #{_partners[_id].name}
      .row.justify-content-center
        each val, index in _partners
          +partners-block(index)
    include ../footer.pug
    