body {
    font-family: 'Noto Sans TC', sans-serif;
    color: #333;
      background-image: url("/assets/img/bg.min.jpg");
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
}
p {
    color: #666;
    text-align: justify;
    word-break: break-all;
}
a, a:visited, a:hover {
    color: #666;
}
a.btn {
    color: #FC761B;
}
#lang-btn {
    position: fixed;
    right: 1em;
    top: 1em;
    z-index: 999;
    font-size: 0.8em;
}
#header-img {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.inner-img {
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}
#header-img .inner-img.inner-1 {
    background-size: 60%;
    background-image: url("/assets/img/Sch001_2020_f2.png");
}
#header-img .inner-img.inner-2 {
    background-size: 120%;
    background-image: url("/assets/img/Sch001_2020_f1.png");
}

#intros {
    background-color: white;
}

.col-block {
    border: 1px solid #AAA;
    transition: 0.5s;
}
.col-block:hover {
    border: 1px solid #666;
}
.team-img {
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.team-img-inner {
    padding-top: 75%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.media-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 75%;
}
.carousel-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 27vw;
}

#courses {
    min-height: 20em;
}

#courselist p {
    color: #AAA;
    font-size: 1.2em;
}
#courselist .animatenumbers {
    color: #FDD;
    font-size: 1.8em;
    width: 1.8em;
    display: inline-block;
}

#carouselPhotos {
    outline: 5px solid #fff;
}

#mediareports {
    background-color: white;
}

#footer {
  bottom: 0;
padding: 1rem 0;
background-color: rgba(0,0,0,0.6);
}
#footer a {
  font-size: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
}
#footer a:link {
  color: #AAA;
}
#footer a:visited {
  color: #AAA;
}

.btn-outline-my {
  color: #FC761B;
  background-color: rgba(0,0,0,0);
  border: 1.5px solid #FC761B;
}
.btn-outline-my:hover {
  color: #FFF;
  background-color: #FC761B;
}

@media (max-width: 991px) {
    body {
        font-size: 1.2em;
    }
    #header-img .inner-img {
        display: none;
    }
    #header-img {
        height: 30vh;
        background-image: url("/assets/img/Sch001_2020.png");
        background-attachment: local;
    }
    .carousel-img {
        height: 60vw;
    }
    .media-img {
        height: 200px;
    }
}
