<!DOCTYPE html>
html(lang="zh-Hant-TW")
  include ../header.pug
  link(rel="stylesheet" href="../styles/common.css?version="+timestamp)
  link(rel="stylesheet" href="../styles/means.css?version="+timestamp)
  body(data-spy="scroll" data-target=".navbar" data-offset="100")
    include ../nav.pug
    #means: .container.px-4.py-5.col-lg-8.d-flex.flex-column
      h1.text-yellow.text-center 繁體中文 AI 開源實踐計畫 - 徵件辦法
      .btn-group.mx-auto.my-4(role="group")
        a.btn.btn-outline-light.btn-lg(role='button' href="https://docs.google.com/document/d/10-VDDGK3-lzr6-80-t7RdnV-Gjl4LV0xgDW1cDy1Wfk/edit?usp=sharing", target="_blank") 徵件細則
        a.btn.btn-outline-light.btn-lg(role='button' href="https://sch001.g0v.tw/dash/brd/2024TC-AI-OS-Grant/prj/create") 我要提案
        a.btn.btn-outline-light.btn-lg(role='button' href="https://sch001.g0v.tw/dash/brd/2024TC-AI-OS-Grant/list") 提案列表
        a.btn.btn-outline-light.btn-lg(role='button' href="https://g0v.hackmd.io/@jothon/aigrant2024QA", target="_blank") 常見問題
      .my-4
          p 【零時小學校】繁體中文 AI 開源實踐計畫，將針對「繁體中文文本採集」、「Benchmark 台灣觀點的評測」、「繁體中文特用型語言模型，以法律、醫療、教育為主但不限」、「繁體中文為主的開源模型」、「多語言考慮：台語、客語、原住民語」五大主題進行徵件。
          p 活動將於即日起至 2024/04/18 分三梯次徵件，獲選團隊最高可獲 50 萬元新台幣，以及與專家一對一諮詢的機會。
          p 歡迎 AI 實踐者來提案，一同促進繁體中文語言模型文本與技術的交流與發展。

      .my-4
        h2.text-yellow.my-4 一、徵件主題
        ul.fs-5
          li 繁體中文文本採集，用於語言模型訓練資料
          li Benchmark 台灣觀點的評測
          li 繁體中文特用型語言模型，以法律、醫療、教育為主，但不限
          li 繁體中文為主的開源模型
          li 多語言考慮：台語、客語、原住民族語


      .my-4
        h2.text-yellow.my-4 二、補助內容
        div
          p （一）每個計畫提供<b>新台幣 20-50 萬元補助金</b>。
          p （二）與專家及相關單位進行一對一專案諮詢。
          p （三）獲獎專案採訪，並將專案成果以手冊與網頁呈現。
          p （四）優先獲得參與零時小學校未來國際參訪交流的補助機會。

      .my-4
        h2.text-yellow.my-4 三、計畫進行方式
        p 活動共分為三梯次，每梯次為期一個月。每梯次預計選 1-4 組，計畫共選出 6-10 組，<b>每組將依據提交之預算，提供 20-50 萬新台幣作為補助金</b>。主辦單位有權調整梯次時間及補助金等細節。
        table.table.table-bordered.text-light
          tr
            th
            th 徵件開始
            th 截止日
            th 公佈獲選名單
          tr
            th 第一梯次
            td 即日起
            td 2024/02/18
            td 2024/03/04
          tr
            th 第二梯次
            td 2024/02/21
            td 2024/03/17
            td 2024/04/01
          tr
            th 第三梯次（視情況舉辦）
            td 2024/03/20
            td 2024/04/18
            td 2024/05/05

      .my-4
        h2.text-yellow.my-4 四、各梯次流程
        div
          p （一）提案：於零時小學校提案專區提案。
          p （二）社群交流與回饋：
            ol.ms-4
              li 提案皆可於徵件截止前依據收到的回饋進行更改
              li 社群回饋：社群參與者可於提案下方討論區給予回饋。提案者也可於 <a href="https://g0v-jothon.kktix.cc/" target="_blank">g0v 黑客松</a> 等活動及 <a href="https://g0v.hackmd.io/@jothon/joing0vslack" target="_blank">g0v Slack</a> 招募組員及收集回饋。
          p （三）徵件截止
          p （四）公布名單：依據各梯次名單公布時間公布。
          p （五）各團隊獲選後：
            ol.ms-4
              li 提交開發計畫。
              li 團隊可預約與專家學者線上專案諮詢。
              li 期中進度回報，並撥款第一期補助金。
              li 期末成果開源及繳交成果報告，並撥款第二期補助金。
              li 於 Demo Day 發表成果，暫訂七月。
              li 將針對各組進行採訪，並提供本次計畫成果。
          p （六）計畫結束

      .my-4
        h2.text-yellow.my-4 五、申請條件
        div
          p （一）團隊成員需為居住於台灣（不限國籍），或具備台灣國籍之自然人（不限居住地）
          p （二）提案內容須符合 g0v 社群<a href="http://g0v.tw/manifesto/", target="_blank">宣言</a>精神及<a href="https://g0v.tw/coc/", target="_blank">社群守則</a>。
          p （三）提案不限於軟體開發，惟提案內容與提案之初版方案（demo）或解決方案，在獲選之後，須符合 <a href="https://zh.wikipedia.org/wiki/%E8%87%AA%E7%94%B1%E6%96%87%E5%8C%96%E4%BD%9C%E5%93%81%E5%AE%9A%E7%BE%A9", target="_blank">Free Culture Works</a> 定義，以「<a href="https://creativecommons.org/licenses/by/4.0/deed.zh_TW", target="_blank">CC 姓名標示 4.0 國際</a>」授權條款授權釋出。
          p （四）軟體開發專案需考量行動裝置友善（Mobile-Friendly）。
          p （五）提案所使用的原始資料與資料處理方式應公開並說明，並自行取得資料授權。
          p （六）所有提案文字、圖像與影像等內容使用，提案團隊有責任保證不侵害他人智慧財產權，且符合個人資料保護法及其他相關法令規範。
          p （七）提案前請詳閱 <a href="https://docs.google.com/document/d/10-VDDGK3-lzr6-80-t7RdnV-Gjl4LV0xgDW1cDy1Wfk/edit?usp=sharing", target="_blank">【g0v 零時小學校】繁體中文 AI 開源實踐計畫 - 徵件細則</a>

      .my-4
        h2.text-yellow.my-4 六、評選標準
        p 補助金發放由主辦單位邀請公正專業人士組成評選委員會，依以下標準評選：
        ul
          li 技術可行性（25%）：AI 技術運用之可行性，所運用的技術是否有 demo 可供評審參考，或其他技術說明。
          li 主題相關性（25%）：與本次徵件主題之相關性。
          li 團隊組成與既有成果（25%）：評估團隊過往執行經驗與專案規劃內容之相關性。
          li 影響力（25%）：提案整體對社會之影響力，例如提供之解方是否能應用於多種情境，或是對於特定領域的影響力。

      .my-4
        h2.text-yellow.my-4 七、主辦與協辦單位
        .my-3
          .mb-2 【主辦單位】
          .mb-1.ms-4 g0v 揪松團（<a href="https://jothon.g0v.tw/about/", target="_blank">https://jothon.g0v.tw/about/</a>）
          .mb-1.ms-4 零時小學校（<a href="https://sch001.g0v.tw/", target="_blank">https://sch001.g0v.tw/</a>）
        .my-3 
          .mb-2 【贊助單位】
          .mb-1.ms-4 Brighter Capital（<a href="https://brightercapital.com/", target="_blank">https://brightercapital.com/</a>）
        .my-3
          .mb-2 【協辦單位】
          .mb-1.ms-4 Taiwan National Treasure Foundation
          .mb-1.ms-4 財團法人開拓文教基金會
          .mb-1.ms-4 財團法人開放文化基金會


      hr.my-4
      h4.text-center 以上內容若與<a href='https://docs.google.com/document/d/10-VDDGK3-lzr6-80-t7RdnV-Gjl4LV0xgDW1cDy1Wfk/edit?usp=sharing' target='_blank'>徵件細則</a>有所不同，以徵件細則為主。
      .text-center.my-4 主辦單位保有最終修改、變更、活動解釋及取消本活動之權利

    include ../footer.pug
