<!DOCTYPE html>
html(lang="zh-Hant-TW")
    include ../header.pug
    link(rel="stylesheet" href="../styles/common.css?version="+timestamp)
    link(rel="stylesheet" href="../styles/2023/means.css?version="+timestamp)
    body(data-spy="scroll" data-target=".navbar" data-offset="100")
        include ../nav.pug
        #means: .container.px-4.py-5.col-lg-8.d-flex.flex-column
            h1.text-yellow.text-center 競賽辦法
            .btn-group.mx-auto.my-4(role="group")
                a.btn.btn-outline-light.btn-lg(role='button' href="https://docs.google.com/document/d/1CF6gKIaSEc4q36yQvdlOVvInbHlmc3tJdqaJn5Bbf08/?usp=sharing", target="_blank") 競賽細則
                a.btn.btn-outline-light.btn-lg(role='button' href="https://sch001.g0v.tw/dash/brd/sch001-2023/list", target="_blank") 我要提案
                a.btn.btn-outline-light.btn-lg(role='button' href="https://g0v.hackmd.io/@jothon/r1ccULYla", target="_blank") 常見Q&A
            .fs-3.text-center.text-yellow
                | 科技日新月異，生活中的大小怪事仍層出不窮，<br>
                | 就讓我們一起揚起船帆，乘著科技浪潮揪團來打怪吧！
            .my-4
                p 在 g0v 零時政府中，有來自各行各業的熱血公民在下班之餘，一起用開源協作的方式做專案，透過科技嘗試解答各領域的社會問題。十年來，我們共創了 900+ 件的公民科技專案，像是 Cofacts 真的假的、Disfactory 農地違章工廠舉報、萌典、島島阿學等等。
                p 當科技日新月異，生活中大小的怪事卻仍層出不窮，就讓我們一起試著透過專案實作提出科技解方吧！

                h4.text-yellow.mt-5.mb-4 📍 專案孵化競賽——陪你走過專案發展的歷程
                p 為了鼓勵與培育專案實作的公民力量，g0v 零時小學校籌備專案孵化競賽，希望能陪伴大家一起走過專案的歷程。我們歡迎所有「想用行動解決生活／社會需求」的行動家，無論你是學生、老師，或是有志的熱血公民，讓我們一起乘著科技時代的浪潮，來將想像化作可能！
                p 本次「專案孵化競賽－公民科技獎助金」徵件主題不設限，任何符合聯合國永續指標 SDGs 或社會創新、教育、民防、公共議題，且符合開源協作精神者都歡迎提案，而 20 歲以下青少年提案將有保障名額的機會唷！最高可獲得兩萬六千元的公民科技獎助金！
                p 除了獎金之外，零時小學校還會提供入圍團隊專案培力的資源，包含一對一專案諮詢、提案優化工作坊、資源媒合、社群輔導等，g0v 零時政府過去的經驗與技術，都將成為專案培力最強大的後盾，我們希望藉由多元的支持，陪伴各團隊不斷優化專案，我們也相信 「release early, release often」，不怕試錯將帶來更好的收穫。
                p 現在，話不多說，開坑！組隊打怪吧！
            .my-4
                h2.text-yellow.my-4 一、申請資格
                h3.text-yellow.my-3 （一）一般組
                ol
                    li 不限年齡、職業，無論是否在學或在校任教職員，皆歡迎提案。唯 18 歲以下的參賽者需先經家長同意，並簽署<hl>未成年參賽同意書</hl>上傳至平台。
                    li 團隊成員需為居住於台灣（不限國籍），或具備台灣國籍之自然人。
                h3.text-yellow.my-3 （二）U-20 組
                ol
                    li 過半（含）團隊成員年齡為 20 歲以下，出生年份為 2003 年（含）後，不限是否在學。唯 18 歲以下的參賽者需先經家長同意，並簽署<hl>未成年參賽同意書</hl>上傳至平台。
                    li 團隊成員需為居住於台灣（不限國籍），或具備台灣國籍之自然人。
                    li U-20 組提案將享有<b>初選及決選之保障名額機會</b>。
            .my-4
                h2.text-yellow.my-4 二、徵件主題
                h4.mb-4 本次競賽不限題目，任何與符合聯合國永續指標 SDGs 或社會創新、教育、公共服務、民防議題，且符合「開源協作」的精神都歡迎提案。
                .p-4.border
                    h4.text-yellow.mb-4 📍 什麼是開源協作？
                    ul
                        li
                            b 開源（Open Source） ：
                            div 將專案內容與成果（可能是程式碼、文字、圖檔、討論等）以開源授權或創用CC 授權等方式公開出來，讓其他人能夠再次利用或直接參與該專案內容。
                        li
                            b 協作：
                            div 可一人提案，但需多人一起做專案，運用集體智慧解決問題。
                    h5 更多開源協作相關資訊，歡迎參考以下影片：
                    ul
                        li: a(target='_blank', href='https://g0v.hackmd.io/@jothon/g0v-cowork-guideline/%2FvzpxgXrlQrCWHa_TiqiRuA') 什麼是開源（Open Source）與開源精神？
                        li: a(target='_blank', href='https://www.youtube.com/watch?v=w2K68HSxoO0&list=PLdwQWxpS513AKM0J3gdffV1hR3rOrYVJg') 科技與社會議題的交會：g0v 如何協作
                        li: a(target='_blank', href='https://www.youtube.com/watch?v=wjiEfD7jEUo&list=PLdwQWxpS513AKM0J3gdffV1hR3rOrYVJg&index=2') 開源概論
                        li: a(target='_blank', href='https://www.youtube.com/watch?v=wQ_DVuZ30nM&list=PLdwQWxpS513AKM0J3gdffV1hR3rOrYVJg&index=3') 我們與專案的距離
                .p-4.border.my-4
                    h4.text-yellow.mb-4 📍 若沒有明確提案方向怎麼辦？
                    h5 可以參考零時小學校過往獲獎提案：
                    ul
                        li: a(target='_blank', href='https://sch001.g0v.tw/dash/brd/sch001-2022/list') 2022 競賽
                        li: a(target='_blank', href='https://sch001.g0v.tw/dash/brd/sch001-2021/list') 2021 競賽
            .my-4
                h2.text-yellow.my-4 三、報名方式
                ul
                    li 提案團隊需在徵件截止之前於提案平台完成<hl>「提案表單」</hl>，並錄製 3 分鐘內的<hl>「提案介紹影片」</hl>，上傳至 YouTube 平台（權限請記得公開，社群宣傳及影響力將會列入審核標的之一）。
                    li 徵件時間為 <b>即日起 至 12 月 03 日（日）23:59</b> ，逾期恕不受理投件。
                    li 在徵件期間內，可以隨時修改「提案表單」內容，亦可重新上傳「提案介紹影片」，主辦單位僅就徵件截止當下之最終版本進行審核。
            .my-4
                h2.text-yellow.my-4 四、徵件時程表
                img.w-100(src='/assets/img/2023_calendar.png')
                h3.text-yellow.mb-4 （一）社群回饋時間
                ol
                    li 線上回饋
                        ul
                            li 提案平台的所有使用者都可以在提案頁面進行評論。
                            li 提案者可以在公開提案期間參考各方意見，並修改提案或回覆評論。
                    li 實體回饋
                        ul
                            li 提案團隊可以參與 2023年 10 月 15 日（日）g0v 黑客松，由現場 g0v 社群貢獻者們針對提案內容進行健檢並給予建議。
                h3.text-yellow.my-4 （二）初選審查
                ol
                    li 書審階段：<b>2023年 12 月 04 日（一）至 12 月 30 日（六）</b>
                        ul
                            li 書審階段將確認提案團隊的資料是否有缺漏，以及參賽資格是否相符。若提案有缺件或資格不符情形，將不會被列入評選名單。
                            li 通過審查之提案，主辦單位將邀請專業人士組成 3 至 5 人的初選委員會進行入圍提案之評選。
                    li 社群影響力評估：<b>2023年 12 月 25 日（一）至 12 月 30 日（六）期間</b>
                        ul
                            li 為鼓勵提案團隊的行銷與宣傳行動，主辦單位將於 2023年 12 月 25 日後進行統計，將計算專案介紹影片的「YouTube 喜歡數」，<hl>經審核後總數達最高者，將獲得入圍的保障名額</hl>。
                    li 公布名單：<b>2023年 12 月 30 日（六）</b>
                        ul
                            li 主辦單位將依各提案之內容進行評選，最終選出 10 組提案進入決選（包含 U-20 組及最高社群影響力之保障名額），並於 12 月 30 日（六）網路公布入圍名單。
                            li 視提案情況，主辦單位保留彈性調整入圍數量之權利。
                    li 提案優化工作坊：<b>2024年 01 月 06 日（六）@ g0v 黑客松</b>
                        ul
                            li 初選入圍團隊<hl>有義務</hl>參與 2024年 01 月 06 日（六）提案優化工作坊，主辦單位將邀請初選評審和 g0v 社群參與者進行回饋，並請入圍團隊針對提問回覆。
                            li 具體的工作坊細節將以書面通知為主，主辦單位保留調整活動的權利。
                    li 線上專業諮詢：<b>2023年 12 月 30 日（六）至 2024年 01 月 31 日（三）</b>
                        ul
                            li 為了協助入圍團隊優化提案內容，主辦單位將邀請多位 g0v 社群長期貢獻者擔任「零時先輩」。入圍團隊可以透過表單預約專案業諮詢的時間（表單連結待後續公告），一組團隊至多可預約 3 小時的線上諮詢，須於預約時一併填寫目前所遭遇的困難或是想諮詢的問題。若有預約卻未上線的情況，<hl>視情況取消決選資格</hl>。
                            li 入圍團隊需於諮詢結束後<b>一周內</b>，以開源方式提交諮詢紀錄與回饋，若缺繳諮詢紀錄，<hl>視情況取消決選資格</hl>。
                h3.text-yellow.my-4 （三）決選：<b>2024 年 03 月 02 日（六）g0v 黑客松暨競賽決選日</b>
                ul
                    li 初選入圍團隊必須出席 2024 年 03 月 02 日（六）舉辦的 g0v 黑客松活動，上台以簡報呈現提案的最終成果。最終由主辦單位邀請的評選委員會現場選出 5 組決選獲獎團隊。
                    li 每組報告時間共<b> 15 分鐘</b>（含評審問答），團隊首先需進行提案的初版方案（demo）說明或解決方案演示，向評選委員展示最終成果。報告結束後，評選委員將針對提案和報告內容進行提問，最後由主辦單位現場公布決選獲獎名單，並頒發獎狀及獎金。
                    li 具體的決選細節將以書面通知為主，主辦單位保留調整活動的權利。
            .my-4
                h2.text-yellow.my-4 五、評選方式
                ol
                    li 評審面向
                        ul
                            li 影響力（20%）：提案整體願景的影響力、社群影響力（含介紹影片之所達成的宣傳效力）。
                            li 可重複使用性（20%）：成果的元件是否有辦法為其他專案使用。
                            li 可行性（20%）：技術可行與社會或預期使用者採納的可能性。
                            li 完成度（20%）：提案對於整體提案願景的完成度、貢獻度或含括範圍。
                            li 創意度（20%）：提案內容是否有別於過往類似案例的模式。
                    li 審查標的
                        .fw-bold 初選
                        ul
                            li 提案表單：動機、目標，以及專案內容是否完整並符合主題。
                            li 介紹影片：是否在 3 分鐘內完整呈現提案（例如動機、目前進度、未來展望等）。
                        .fw-bold 決選
                        ul
                            li 最終定版提案內容、競賽日當日報告呈現、評審提問回覆表現等。
            .my-4
                h2.text-yellow.my-4 六、獎勵辦法
                h3.text-yellow.my-4 （一）獎勵內容
                ol 
                    li 初選入圍
                        ul
                            li 證書：入圍團隊每位成員將獲頒「零時小學校 專案孵化競賽」入圍證書乙張。
                            li 獎金：每組入圍團隊將獲頒<b>新台幣 6 千元獎金</b>。
                    li 決選獲獎
                        ul
                            li 獎狀：獲獎團隊每位成員將獲頒「零時小學校 專案孵化競賽」獎狀乙張。
                            li 獎金：每組獲獎團隊將獲頒<b>新台幣 2 萬 6 千元獎金</b>。
                            li 開源成果：專案成果將開源並收錄於零時小學校成果網站，成為零時小學校「獲獎校友」。
                            li 專案培力：獲獎團隊將成為零時小學校重點培力團隊，g0v 揪松團將協助引介合適資源，陪伴獲獎團隊持續發展與成長，並將在 2024 年末出版成果手冊，刊登團隊故事。
                            li 國際交流：獲獎團隊將優先獲得參與零時小學校未來國際參訪交流的補助機會。
                h3.text-yellow.my-4 （二）獲獎團隊義務
                ol
                    li 提案內容需保證符合開源精神，獎金將於專案完成開源後撥款。
                    li 專案之華文與英文介紹，授權 g0v 揪松團於網站或相關內容使用。
                    li 入圍團隊需至零時小學校官網將專案資料更改至最新，例如簡報、 GitHub 、社群聯繫管道更改至最新版本。
                    li 獲獎團隊必須配合參與 g0v 揪松團之相關宣傳、訪談、報導、簡報等活動。
                    li 團隊若有製作專案介紹影片等資料，需以<a href='https://creativecommons.org/licenses/by/4.0/deed.zh-hant' target='_blank'> CC 授權</a>模式授權，未來 g0v 揪松團將作為推廣使用。
            hr
            h4.mt-5.text-center 以上內容若與<a href='https://docs.google.com/document/d/1CF6gKIaSEc4q36yQvdlOVvInbHlmc3tJdqaJn5Bbf08/?usp=sharing' target='_blank'>競賽細則</a>有所不同，以競賽細則為主。


















        include ../footer.pug
