//- module
extends /base.pug
block vars
  - ctrl.navtop.shown = false;
block body
  - var answer = ( ( prj.detail && prj.detail.answer ) ? prj.detail.answer : {} )
  - var purpose = grp.form.purpose || {};
  .p-4: include /form/answer.pug

block script
  +script("/dash/js/prj/view.js")
  +script("/dash/js/prj/view-simple.js")
  +script("/dash/js/util/misc.js")
  +register-locals()
