extends /base.pug
block head
  +css("/dash/assets/lib/handsontable/handsontable.min.css")
  +css("/dash/assets/lib/tail.datetime/0.4.13/css/tail.datetime-harx-light.min.css")
block body
  +scope("prj-diff").ldcv.scroll.ldcvmgr(data-name="prj-diff"): .base.w-640(style="height:90%"): .inner.card.h-100
    .sticky.z-fixed(style="top:0")
      .closebtn(data-ldcv-set="")
      .card-header.bg-white.rounded
        .text-center
          h4 修改紀錄
          .d-flex.justify-content-center.text-sm
            .text-removed.mx-2.py-1.px-2.rounded 舊版中被刪的字
            .text-added.mx-2.py-1.px-2.rounded 新版中增加的字
      .card-header.bg-light.text-dark.shadow-sm
        .row.text-sm
          .col-md.text-left.border-right #[i.i-dart-left] 左方 : 2020/04/20 12:30:25
          .col-md.text-right 2020/04/21 05:59:33 : 右方 #[i.i-dart-right]

    .card-body.h-100(style="overflow-y:scroll")
      .mb-4.pb-4(ld-each="diffs")
        div: b(ld="title")
        .text-sm.text-muted(ld="desc")
        .p-4.bg-light.mt-2.rounded: .row.no-gutters(ld="row")
          .col-md.border-right: .pr-4.value(style="white-space:pre-wrap")
          .col-md: .pl-4.value(style="white-space:pre-wrap")

  +scope("prj-form-use").w-1024.mx-auto.rwd.typeset.heading-contrast
    .d-flex.w-100
      .mr-4.p-4.rounded.border.d-none.d-md-block(
      style="background:linear-gradient(315deg,#f4f5f6,#fff);min-height:calc(100vh - 7em)")
        .h-100(pd="init-loader",style="width:250px")
        .pb-4.mb-4.h-100.d-none(pd="content")
          h3.my-0.d-none(ld="nview") 編輯提案
          h3.my-0(ld="view") 預覽提案
          hr
          //-+prj-card-sm(data.prj).shadow-sm.mb-4
          //-
            .mb-4.text-center
              .d-flex.justify-content-center
                .btn.btn-sm.btn-primary.rounded-pill.px-3.mx-1 分享 #[i.i-link]
                .btn.btn-sm.btn-primary.rounded-pill.px-3.mx-1 追蹤 #[i.i-eye]
                .btn.btn-sm.btn-primary.rounded-pill.px-3.mx-1 列印 #[i.i-print]
            hr

          .sticky(style="width:250px")
            //-.mb-4
              .d-flex.align-items-center.mb-2
                .flex-grow-1 編輯紀錄
              select.form-control(ld="history")
                option 2020/04/08 12:30:12
                option 2020/04/08 12:30:11
                option 2020/04/08 12:30:02
                option 2020/04/08 12:20:12
                option 2020/04/08 11:10:54
                option 2020/04/06 04:52:15
            //- shown in view mode
            .mb-4
              .btn.btn-block.btn-primary(ld="view viewing") 編輯提案 #[i.i-pen]
              .btn.btn-block.btn-primary.d-none(ld="nview viewing") 預覽提案 #[i.i-pen]
            //- shown in edit mode
            .mb-4.d-none(ld="nview")
              .d-flex.align-items-center.mb2
                .flex-grow-1 編輯進度
                a.text-sm.text-danger(ld="invalid",href="#") 尚有 #[span(ld="remain") 1] 項待補 #[i.i-dart-right]
                .text-sm.text-success.d-none(ld="valid") 欄位均已填妥
              .progress
                .progress-bar.progress-bar-striped.progress-bar-animated(ld="progress",style="width:0%")

            .mb-4
              label.mb-1 提案人
              .d-flex.align-items-center
                +user.mr-2(ld="owner-avatar")
                span(ld="owner-name")
            .mb-4
              label.mb-1 提案發表於
              .font-weight-bold(ld="brd-name")
              .text-muted(ld="grp-name")

            .mb-4(ld="has-detail")
              label.mb-1 瀏覽提案
              div: a.text-truncate(ld="prj-link") 目前發布版本

            //-.mb-4
              label.mb-1 追蹤者
              .d-flex.flex-wrap
                each i in [1,2,3,4,5]
                  +user.mr-2

      .flex-grow-1(style="width:0")
        .d-none(ld="form-sample"): include /form/subblock.pug
        .d-none(ld="view"): include /form/answer.pug
        .d-none(ld="nview"): div(ld="form-list"): div(ld-each="block")
        .w-100.h-100(pd="init-loader",style="background-image:url(/dash/assets/img/c/placeholder/content.svg);background-position:top center;background-repeat:repeat-y;")


        .d-none(ld="nview")
          .mx-4.text-muted
            .d-none(ld="to-fix"): .d-flex.align-items-center
              .mr-2: i.i-question.text-primary
              .flex-grow-1 您尚有#[span(ld="remain") 數]個欄位須修正，在請修正完成過後，便能發布您的提案。
              .btn.btn-outline-primary.disabled 送件
            .d-none(ld="to-publish"): .d-flex.align-items-center
              .mr-2: i.i-question.text-primary
              .flex-grow-1 填完後請記得按下「送件」，以確保案件正確送出。
              .btn.btn-primary.ml-2(ld="submit") 送件
            .d-none(ld="published"): .d-flex.align-items-center
              .flex-grow-1
              .btn.btn-outline-primary.disabled 案件已送出
            //-.flex-grow-1 您的任何修改都會即時儲存到系統中，因此不用擔心資料會遺失。不過，一旦有修改，在您正式按下發布按鈕之前，您的填答並不會正式被更新到您的提案內容中，請在確認完成填答並打算發表的時候，按下「儲存並發布」按鈕。

        //- for space of fixed alert
        +nbr(2)

    .sticky.w-1024.rwd.mx-auto.z-float(style="bottom:2em")
      .d-none(ld="to-publish"): .alert.alert-info.d-flex.align-items-center.shadow-sm
        .flex-grow-1
          span 您有尚未發布的修改
          span.d-none.d-md-inline-block ，記得按「送件」更新提案的最新版本喔！
        div: .btn.btn.btn-primary.mr-1(ld="submit") 送件
        //-div: .btn.btn.btn-outline-primary(ld="cancel") 取消並還原
      .d-none(ld="to-fix"): .alert.alert-warning.d-flex.align-items-center.shadow-sm
        .flex-grow-1 您尚有#[span(ld="remain") 數]個欄位須修正，在請修正完成過後，便能發布您的提案。
        div: .btn.btn.btn-warning.mr-2(ld="jump invalid") 跳至待修正項目

block script
  +script("/dash/assets/lib/suuid/suuid.bundle.min.js")
  +script("/dash/assets/lib/ldui/ldui.min.js")
  +script("/dash/js/reblock/form-reblock.js")
  +script("/dash/assets/lib/handsontable/handsontable.min.js")
  +script("/dash/assets/lib/tail.datetime/0.4.13/js/tail.datetime-full.min.js")
  +script("/dash/assets/lib/sharedb-wrapper/client.bundle.min.js")
  +script("/dash/assets/lib/dompurify/2.0.11/purify.min.js")
  +script("/dash/assets/lib/jsdiff/diff.min.js")
  +script("/dash/js/form/sample-data.js")
  +script("/dash/js/form/index.js")
  +script("/dash/js/form/block.js")
  +script("/dash/js/form/criteria.js")
  +script("/dash/js/form/validator.js")
  +script("/dash/js/util/sdb-adapter.js")
  +script("/dash/js/util/hub.js")
  +script("/dash/js/util/misc.js")
  +script("/dash/js/util/input.js")
  +script("/dash/js/prj/edit.js")
  +script("/dash/js/prj/view-simple.js")
