<!DOCTYPE html>
html(lang="zh-Hant-TW")
  include ../header.pug
  link(rel="stylesheet" href="../styles/index.css")
  body(data-spy="scroll" data-target=".navbar" data-offset="100")
    include ../nav.pug
    .container-fluid(style="height: 100vh;")
    include ../footer.pug