<!DOCTYPE html>
html(lang="zh-Hant-TW")
    include ../header.pug
    link(rel="stylesheet" href="../styles/common.css?version="+timestamp)
    link(rel="stylesheet" href="../styles/means.css?version="+timestamp)
    body(data-spy="scroll" data-target=".navbar" data-offset="100")
        include ../nav.pug
        .container-fluid.part-dark
            #opencall.container-sm.py-5
                h1 
                    span.me-2 競賽辦法
                    .btn-group(role="group")
                        a.btn.btn-outline-my(role="button" target="_blank" href="https://docs.google.com/document/d/1Zy6_U14alb1y0540d1ItR7Ec3_PXa1fqgSb6MRsvFGg/") 競賽細則
                        a.btn.btn-outline-my(role='button' href="https://sch001.g0v.tw/dash/brd/sch001-2022/list") 我要提案
                p 面對生活中大大小小的怪事，有沒有想過只要一些勇氣動起來，就有機會「挖坑、找到隊友、用數位工具」組隊打怪，進而豐富學習與生命歷程，並用專案改變社會！
                p （2022/08/26 實施細則 v.01.1 修訂完成 2022 版本，詳情請點擊上方「競賽細則」按鈕。）
                h3.py-3 徵件主題
                .ps-3#topics                   
                    p 本次競賽不限題目，任何與符合聯合國永續指標 <span>SDG</span>s 或社會創新、教育、公共議題，且符合開源協作的精神都歡迎提案。
                    p 若沒有明確提案方向，以下提供參考：
                    h5 2021 獲獎團隊
                    ul    
                        li <span>[地方創生]</span> 眾生開眼_坪林尋怪地圖
                        li <span>[教育]</span> 有效率的尋找學習夥伴
                        li <span>[教育]</span> 高中生 108 課綱教育資源整合平台
                        li <span>[教育]</span> Sync Slide - 萬人演講零延遲
                        li <span>[教育]</span> CourseAPI 開放式課程資訊匯流學院
                    h5 2020 獲獎團隊
                    ul
                        li <span>[教育]</span> 島島阿學 教育資源平台
                        li <span>[教育]</span> Plan Hub 教案共享平台
                        li <span>[社會福利]</span> 幸福存摺
                        li <span>[開源]</span> CBFHSS 專為高中生設計的管家行聊天機器人
                        li <span>[開源]</span> 繁體中文 CC0 句庫
                    h5 參考 SDGs 永續指標項目：
                    img.col-12.col-md-8.my-4(src="/assets/img/sdgs.jpg", alt="", srcset="")
                    ul
                        li <span>SDG 1 終結貧窮</span>：消除各地一切形式的貧窮
                        li <span>SDG 2 消除飢餓</span>：確保糧食安全，消除飢餓，促進永續農業
                        li <span>SDG 3 健康與福祉</span>：確保及促進各年齡層健康生活與福祉
                        li <span>SDG 4 優質教育</span>：確保有教無類、公平以及高品質的教育，及提倡終身學習
                        li <span>SDG 5 性別平權</span>：實現性別平等，並賦予婦女權力
                        li <span>SDG 6 淨水及衛生</span>：確保所有人都能享有水、衛生及其永續管理
                        li <span>SDG 7 可負擔的潔淨能源</span>：確保所有的人都可取得負擔得起、可靠、永續及現代的能源
                        li <span>SDG 8 合適的工作及經濟成長</span>：促進包容且永續的經濟成長，讓每個人都有一份好工作
                        li <span>SDG 9 工業化、創新及基礎建設</span>：建立具有韌性的基礎建設，促進包容且永續的工業，並加速創新
                        li <span>SDG 10 減少不平等</span>：減少國內及國家間的不平等
                        li <span>SDG 11 永續城鄉</span>：建構具包容、安全、韌性及永續特質的城市與鄉村
                        li <span>SDG 12 責任消費及生產</span>：促進綠色經濟，確保永續消費及生產模式
                        li <span>SDG 13 氣候行動</span>：完備減緩調適行動，以因應氣候變遷及其影響
                        li <span>SDG 14 保育海洋生態</span>：保育及永續利用海洋生態系，以確保生物多樣性並防止海洋環境劣化
                        li <span>SDG 15 保育陸域生態</span>：保育及永續利用陸域生態系，確保生物多樣性並防止土地劣化
                        li <span>SDG 16 和平、正義及健全制度</span>：促進和平多元的社會，確保司法平等，建立具公信力且廣納民意的體系
                        li <span>SDG 17 多元夥伴關係</span>：建立多元夥伴關係，協力促進永續願景


                h3.py-3 獎勵內容
                .ps-3
                    h5 初選 10 組入圍團隊
                    .ps-3
                        p 證書：入圍團隊每位成員將獲頒「零時小學校 2022-23 年 專案孵化競賽」入圍證書乙張。
                        p 獎金：每組入圍團隊將獲頒<b> 新台幣 6,000 元獎金</b>。
                        p 提案優化工作坊：12 月 17 日（六）。為提供各團隊優化專案的機會，初選入圍團隊皆需參與本次工作坊，優化本次提案內容。
                        p 零時先輩專案諮詢：為讓團隊能夠更精準找到適合的提案修正方向，增進決選獲獎機會，競賽針對 10 組入圍團隊，將提供一組 6000 元的專案健檢諮詢費用（諮詢費 2000元/時，故每組可諮詢時長為 3 小時）。零時小學校將邀請多位 g0v 社群長期貢獻者擔任零時先輩提供專業諮詢。申請期限為 2022/12/12 - 2023/02/11，需於期間內完成申請，並於 2023/03/30 前提交諮詢紀錄（需開源）。

                    h5 決選 3 - 5 組獲獎團隊
                    .ps-3
                        p 獎狀：獲獎團隊每位成員將獲頒「零時小學校 2022-23 年 專案孵化競賽」獎狀乙張。
                        p 獎金：每組獲獎團隊將獲頒<b> 新台幣 2 萬元獎金</b>。
                        p 開源成果：專案成果將開源並收錄於零時小學校成果網站，成為零時小學校「獲獎校友」。
                        p 專案培力：獲獎團隊將成為零時小學校重點培力團隊，g0v 揪松團將協助引介合適資源，陪伴獲獎團隊持續發展與成長，並將在 2023 年出版成果手冊，刊出團隊故事。

                h3.py-3 申請期間
                .ps-3#schedule
                    h5 徵件時間：2022 年 9 月 1 日（四）00:00 至 10 月 31 日（一）23:59
                    .ps-1: ul
                        li: p 提案團隊在截止時間之前都可以將提案上傳至提案平台，且上傳後在徵件期間皆可修改提案。
                        li: p 【參與徵件團隊】提案回饋工作坊：10 月 22 日（六）。搭配大松。
                    
                    h5 社群回饋：2022 年 9 月 1 日（四）00:00 起。
                    .ps-1: ul
                        li: p 任何登入提案平台的使用者都可以在每個提案頁面進行評論。
                    
                    h5 書審＆初選：11 月  - 12 月
                    .ps-1: ul
                        li: p 書審：11 月 1 日（二）至 11 月 11 日（五）。主辦單位 g0v 揪松團將會在初選之前進行提案檢核，提案若有缺件或資格不符情形，將不會被列入初選名單。
                        li: p 初選評選時間：11 月 14 日（一）00:00 至 12 月 9 日（五）00:00。通過初選檢核之提案，將由 g0v 揪松團邀請之評選委員會，選出 10 組初選入圍提案。入圍者提供 6,000 元獎勵金。
                        li: p 公告初選入圍團隊：12 月 12 日（一） 
                        li: p 【初選入圍團隊】提案優化工作坊：12 月 17 日（六）。工作坊搭配 g0v 黑客松。初選入圍團隊皆需參與本次工作坊，優化本次提案內容。
                    
                    h5 決選 專案孵化競賽 Demo Day：2023 年 2 月 11 日
                    .ps-1: ul
                        li: p 10 組初選入圍團隊必須出席 2023 年 2 月 11 日 於台北市舉辦之專案孵化競賽 Demo Day，上台呈現提案最終成果，並由 g0v 揪松團邀請之評選委員會於現場選出最後 5 組獲獎團隊。         
                img.w-100.my-4(src="/assets/img/2022sch001_timeline.jpg")
                hr
                h1 評選標準
                h3.py-3 標準
                .ps-1: ul
                    li: p 影響力 Impact（提案整體願景的影響力）
                    li: p 可重複使用性 Reusability（成果的元件是否辦法為其他專案使用）
                    li: p 可行性 Feasibility（技術可行與社會或預期使用者採納的可能性）
                    li: p 完成度 Completeness（提案對於整體提案願景的完成度、貢獻度或含括範圍）
                    li: p 創意度 Creativity （提案內容是否有別於過往類似案例的模式）
                h3.py-3 審查內容
                .ps-1: ul
                    li: p 提案者或團隊簡介
                    li: p 最終定版提案內容
                    li: p 競賽日呈現之提案出版軟體（Demo）或解決方案內容
                h3.py-3 內容規範
                .ps-1: ul
                    li: p 所有提案須符合 <a href="http://g0v.tw/zh-TW/manifesto.html" target="_blank">g0v 社群宣言精神</a>。
                    li: p 提案不限於軟體開發，惟提案內容與提案之初版軟體（demo）或解決方案，在獲獎之後，須符合 <a href="//zh.wikipedia.org/wiki/%E8%87%AA%E7%94%B1%E6%96%87%E5%8C%96%E4%BD%9C%E5%93%81%E5%AE%9A%E7%BE%A9" target="_blank">Free Culture Works</a> 定義，以「<a href="//creativecommons.org/licenses/by/4.0/deed.zh_TW" target="_blank">CC 姓名標示 4.0 國際</a>」授權條款授權釋出。
                    li: p 軟體開發專案必須使用符合 <a href="//zh.wikipedia.org/wiki/OSI%E6%A8%A1%E5%9E%8B" target="_blank">OSI</a> 認可之授權，並考量行動裝置友善（Mobile-Friendly）。
                    li: p 所有提案文字、圖像與影像等內容使用，提案團隊有責任保證不侵害他人智慧財產權，且符合個人資料保護法及其他相關法令規範。
                hr
                h1 Q&A
                mixin cardmaker(_parent, _id, _label, _content)
                    .card-header(id="head-"+_parent+"-"+_id): a(data-bs-toggle="collapse" href="#"+_parent+"-"+_id, role="button" aria-expanded="false" aria-controls="#"+_parent+"-"+_id )= _label
                    .collapse(id=_parent+"-"+_id, aria-labelledby="head-"+_parent+"-"+_id, data-parent="#"+_parent+"-accordion"): .card-body
                        p= _content
                h3.py-3 申請資格
                #qlfy-accordion
                    .card
                        +cardmaker("qlfy","q1","團隊是否可以報名？","可以，即使只有一個人，也視為一個團隊。團隊內部分工與獎勵分配與主辦單位無涉。主辦單位將以提案代表人作為主要溝通窗口。")
                        +cardmaker("qlfy","q2","如果我們是一個團隊的話，所有人都會被列在專案網站、報導上面嗎？","團隊須在提案申請表說明團隊的成員與工作分配，後續若有報導，則會希望涵蓋各團隊成員貢獻。")
                        +cardmaker("qlfy","q3","我不會寫程式，但有個點子，可以提案嗎？","可以，但需要在提案申請表註明如何達成專案目標，或者擬定具體的解決方案，例如：我的想法可以透過怎麼樣的作法去實現？專案團隊現在有什麼人才？還需要什麼人才？或可到 零時小學校許願池 貢獻點子。")
                        +cardmaker("qlfy","q4","現有專案是否能申請？","我們歡迎基於擴充現有專案的計畫申請，只要專案能夠在獲獎之後能夠開源釋出即可。")
                        +cardmaker("qlfy","q5","我可以一次提很多專案嗎？","當然可以！不過每個團隊在當屆最多只會收到一次獎勵。")
                        +cardmaker("qlfy","q6","我想幫助非台灣的議題可以來申請嗎？ ( e.g., 敘利亞難民 )","開源無國界，只要符合開源與公民科技的精神，任何提案都歡迎。")
                        +cardmaker("qlfy","q7","你們接受英語或其它語系的專案嗎？","我們僅接受正體華文提案申請表，專案內容需可以至少以正體華文呈現。")
                        +cardmaker("qlfy","q8","若還有下屆小學校徵件計畫，同一專案或同一個團隊是否可以申請第二次？","可以。歡迎在公民科技領域持續努力！")
                h3.p-4 審查
                #chk-accordion
                    .card
                        +cardmaker("chk","q1","預計獎勵幾個專案？","獲獎 5 組專案。今年將保障 1 組 U-22（22 歲以下）專案，不佔前者 5 組名額。")
                        +cardmaker("chk","q2","不同主題的專案分開競爭？各主題只有一個名額嗎？","專案審查不依照主題分類，只要是指定主題所涵蓋的公民科技專案皆可申請，委員會將評估所有專案。")
                h3.p-4 成果
                #rs-accordion
                    .card
                        .card-header(id="head-rs-q1"): a(data-bs-toggle="collapse" href="#rs-q1" role="button" aria-expanded="false" aria-controls="#rs-q1" ) 有規定使用哪種開源條款嗎？
                        .collapse(id="rs-q1" aria-labelledby="head-rs-q1" data-parent="#rs-accordion"): .card-body
                            p 根據成果類型的不同，請選用適當的授權方式，包括：<ul><li>軟體專案須使用符合 <a href="//zh.wikipedia.org/wiki/OSI%E6%A8%A1%E5%9E%8B" target="_blank">OSI</a> 認可之授權。</li><li>所有專案會使用到的文字、圖像等，都需符合 <a href="//zh.wikipedia.org/wiki/%E8%87%AA%E7%94%B1%E6%96%87%E5%8C%96%E4%BD%9C%E5%93%81%E5%AE%9A%E7%BE%A9" target="_blank">Free Culture Works</a> 定義。</li>
                        +cardmaker("rs","q2","成果如何審核？","只有獲獎專案的成果會被檢視是否以開源釋出，確認釋出後方可領取獎勵。")
                        +cardmaker("rs","q3","Demo 或解決方案的完成狀態是什麼？","Demo 可讓公民初步試用並驗證構想。解決方案須說明構想是否有過驗證，或者如何驗證構想。")
                h3.p-4 獎勵
                #rw-accordion
                    .card
                        +cardmaker("rw","q1","我什麼時候會拿到獎勵？","獲獎團隊須與主辦單位確認已將專案開源釋出，方可領取獎勵。")
                        +cardmaker("rw","q2","我想贊助零時小學校！","非常感謝！請寄信到 jothon-organizers {at} g0v.tw")
                        +cardmaker("rw","q3","我要如何聯絡主辦單位？","請寄信到 jothon-organizers {at} g0v.tw") 
                        .card-header(id="head-rw-q4"): a(data-toggle="collapse" href="#rw-q4" role="button" aria-expanded="false" aria-controls="#rw-q4" ) 我收到獎金需要繳稅嗎？
                        .collapse(id="rw-q4" aria-labelledby="head-rw-q4" data-parent="#rw-accordion"): .card-body
                            p 要，依「<a href="//www.etax.nat.gov.tw/etwmain/front/ETW118W/CON/471/9164759166372525521?tagCode=" target="_blank">競技競賽及機會中獎</a>」獎金課稅。

        include ../footer.pug
