<!DOCTYPE html>
html(lang="zh-Hant-TW")
    include ../header.pug
    link(rel="stylesheet" href="../styles/common.css?version="+timestamp)
    link(rel="stylesheet" href="../styles/means.css?version="+timestamp)
    body(data-spy="scroll" data-target=".navbar" data-offset="100")
        include ../nav.pug
        .container-fluid.part-dark
            #opencall.container-sm.py-5
                h1.pl-4 徵件辦法
                    a.ml-2.btn.btn-outline-my(role="button" target="_blank" href="https://docs.google.com/document/d/1-rQYOzrpEx8BQtLE2IUIKUoZWJ5xrTuiZFbLjBh3tAE/") 詳細內容請點我
                p.px-4 為鼓勵開源專案發展，並推廣「開源」與「協作」概念，只要你對「零時小學校 2021-22 Demo Day」徵件主題有興趣，任何人都可以試著在 2021-22 年提案頁面提出你的想法，讓想像變成可能！
                p.px-4 （2021/09/23 實施細則 v.01.3 修正獎勵內容、申請期間與評選辦法，詳情請點擊上方「詳細內容請點我」按鈕。）
                h3.p-4 徵件主題
                .px-4#topics                   
                    p g0v 揪松團、零時小學校合作夥伴與講師，共同討論並選定之 2021-22 Demo Day 題目為：
                    h5 <i class="fas fa-shield-virus"></i>　COVID-19 新解方（New Solution for Preventing Pandemic）
                    h5 <i class="fas fa-chalkboard-teacher"></i>　遠距教學解決方案（Solution of Distance Learning）
                    h5 <i class="fas fa-shapes"></i>　社群經營與基礎建設（Community Management & Infrastructure）
                    h5 <i class="fas fa-book"></i>　教育內容（Educational Content）
                    h5 <i class="fas fa-door-open"></i>　其他（Others）：自由發揮
                    p.mt-4 g0v 揪松團與合作夥伴共同推出特別獎：
                    ul.pl-4
                        li: h5 資料申請小幫手–資料開放行動獎金（Special Prize of Date Opener）特別獎
                        ul
                            li: h5 評選資格：須入選「零時小學校 2021-22 Demo Day 決選 10 組」的提案。
                            li: h5 評選原則：將從決選 10 組名單中，優先評估符合指定解題範疇的提案，解題範疇如下：
                            ul
                                li: h5
                                    | 小幫手網站（
                                    a(href='https://dataopener.tw/' target='_blank' rel='noopener') https://dataopener.tw/
                                    |  ）使用經驗分析與回饋。
                                li: h5 國內政府資料申請經驗訪談。
                                li: h5 國內政府資料申請機制優化。
                                li: h5
                                    | 其他：提案內容請注意「零時小學校 2021-22 Demo Day」既有活動規範。更多內容請參考 
                                    a(href='https://g0v.hackmd.io/@chewei/SyCKZSy7F' target='_blank' rel='noopener') 2021「資料申請小幫手 資料開放行動獎金」評選辦法說明文件
                                    | 。
                h3.p-4 獎勵內容
                p.pl-4 零時小學校 2021-22 年 Demo Day 將選出 5 組獲獎團隊：
                ul 
                    li: h5 獎狀：獲獎團隊將獲頒「零時小學校 2021-22 年 Demo Day」獎狀乙張。
                    li: h5 獎金：每組獲獎團隊將獲頒新台幣 2 萬元獎金。若符合以下特別獎資格者，將有機會角逐特別獎之獎金。
                    h5 資料申請小幫手–資料開放行動獎金：預計選出 1-2 組提案，每組獎金為新台幣 2 萬元。
                    li: h5 專案培力：獲獎團隊將成為零時小學校重點培力團隊，g0v 揪松團將協助引介合適導師與資源，陪伴獲獎團隊持續發展與成長，並將在 2022 年出版成果手冊，刊出團隊故事。
                    li: h5 開源成果：專案成果將開源並收錄於零時小學校成果網站，成為零時小學校「獲獎校友」。
                p.pl-4 2021-22 年保障 1 組 U-22 組獲獎團隊：
                ul
                    li: h5 徵件、評選辦法與獎勵執行等辦法無異，僅在徵件時需自行標註為 U-22 組。
                    li: h5 U-22 組資格請參照「徵件辦法」之「U-22 組資格」一項。
                h3.p-4 資格
                ul
                    li: h5 不限年齡。
                    li: h5 不限是否在學或在校任教職員。
                    li: h5 居住於台灣（不限國籍）、或具台灣國籍之自然人。
                h3.p-4 U-22 組資格
                ul
                    li: h5 年齡限制為 22 歲（提案人出生年份不早於 1999 年）以下。
                    li: h5 不限是否在學。
                    li: h5 居住於台灣（不限國籍）、或具台灣國籍之自然人。
                h3.p-4 申請期間
                ul
                    li.pb-2
                        h5 公開提案：2021 年 8 月 1 日（日）00:00 至 11 月 30 日（二）23:59
                        p 提案團隊在截止時間之前都可以將提案上傳至提案平台。
                    li.pb-2
                        h5 提案修改：2021 年 8 月 1 日（日）00:00 至 11 月 30 日（二）23:59
                        p 提案團隊在截止時間之前都可以修改提案。
                    li.pb-2
                        h5 公開評論：2021 年 8 月 1 日（日）00:00 起
                        p 任何登入提案平台的使用者都可以在每個提案頁面進行評論。
                    li.pb-2
                        h5 評選：2021 年 12 月 1 日（三）至 2022 年 1 月中旬
                        ul
                            li 初選前檢核：12 月 1 日（三）至 12 月 10 日（五）。主辦單位 g0v 揪松團將會在初選之前進行提案檢核，提案若有缺件或資格不符情形，將不會被列入初選名單。
                            li 初選：12 月 13 日（一）00:00 至 12 月 31 日（五）00:00。通過初選檢核之提案，將會被列入初選名單，以 g0v 社群參與者投票的方式，選出決選 10 組提案。
                            li 決選：2022 年 1 月，決選 10 組提案可參加線上決選日，並由 g0v 揪松團邀請之評選委員會，選出最後 5 組獲獎團隊。
                        p
                    li.pb-2
                        h5 工作坊：
                        p 決選工作坊：12 月 11 日（暫定）。完成提案上傳的團隊，將可以參與 g0v 揪松團在 12 月中旬舉辦的工作坊。
                    li.pb-2
                        h5 Demo Day：2022 年 2 月
                        p 5 組獲獎團隊必須出席 2022 年 2 月（暫定）於台北市舉辦之 Demo Day，上台呈現提案最終成果。

                img#opencallio(src="../assets/img/opencall2021-22.png")
                hr
                h1.px-4 評選委員會
                p.p-4 評選委員邀請中
                hr
                h1.px-4 評選標準
                h3.p-4 標準
                ul
                    li 影響力 Impact（提案整體願景的影響力）
                    li 可重複使用性 Reusability（成果的元件是否辦法為其他專案使用）
                    li 可行性 Feasibility（技術可行與社會或預期使用者採納的可能性）
                    li 完成度 Completeness（提案對於整體提案願景的完成度、貢獻度或含括範圍）
                h3.p-4 審查內容
                ul
                    li 提案者或團隊簡介
                    li 最終定版提案內容
                    li 競賽日呈現之提案出版軟體（Demo）或解決方案內容
                h3.p-4 內容規範
                ul
                    li 所有提案須符合 <a href="http://g0v.tw/zh-TW/manifesto.html" target="_blank">g0v 社群宣言精神</a>。
                    li 提案不限於軟體開發，惟提案內容與提案之初版軟體（demo）或解決方案，在獲獎之後，須符合 <a href="//zh.wikipedia.org/wiki/%E8%87%AA%E7%94%B1%E6%96%87%E5%8C%96%E4%BD%9C%E5%93%81%E5%AE%9A%E7%BE%A9" target="_blank">Free Culture Works</a> 定義，以「<a href="//creativecommons.org/licenses/by/4.0/deed.zh_TW" target="_blank">CC 姓名標示 4.0 國際</a>」授權條款授權釋出。
                    li 軟體開發專案必須使用符合 <a href="//zh.wikipedia.org/wiki/OSI%E6%A8%A1%E5%9E%8B" target="_blank">OSI</a> 認可之授權，並考量行動裝置友善（Mobile-Friendly）。
                    li 所有提案文字、圖像與影像等內容使用，提案團隊有責任保證不侵害他人智慧財產權，且符合個人資料保護法及其他相關法令規範。
                hr
                h1.px-4 Q&A
                mixin cardmaker(_parent, _id, _label, _content)
                    .card-header(id="head-"+_parent+"-"+_id): a(data-toggle="collapse" href="#"+_parent+"-"+_id, role="button" aria-expanded="false" aria-controls="#"+_parent+"-"+_id )= _label
                    .collapse(id=_parent+"-"+_id, aria-labelledby="head-"+_parent+"-"+_id, data-parent="#"+_parent+"-accordion"): .card-body
                        p= _content
                h3.p-4 申請資格
                #qlfy-accordion
                    .card
                        +cardmaker("qlfy","q1","團隊是否可以報名？","可以，即使只有一個人，也視為一個團隊。團隊內部分工與獎勵分配與主辦單位無涉。主辦單位將以提案代表人作為主要溝通窗口。")
                        +cardmaker("qlfy","q2","如果我們是一個團隊的話，所有人都會被列在專案網站、報導上面嗎？","團隊須在提案申請表說明團隊的成員與工作分配，後續若有報導，則會希望涵蓋各團隊成員貢獻。")
                        +cardmaker("qlfy","q3","我不會寫程式，但有個點子，可以提案嗎？","可以，但需要在提案申請表註明如何達成專案目標，或者擬定具體的解決方案，例如：我的想法可以透過怎麼樣的作法去實現？專案團隊現在有什麼人才？還需要什麼人才？或可到 零時小學校許願池 貢獻點子。")
                        +cardmaker("qlfy","q4","現有專案是否能申請？","我們歡迎基於擴充現有專案的計畫申請，只要專案能夠在獲獎之後能夠開源釋出即可。")
                        +cardmaker("qlfy","q5","我可以一次提很多專案嗎？","當然可以！不過每個團隊在當屆最多只會收到一次獎勵。")
                        +cardmaker("qlfy","q6","我想幫助非台灣的議題可以來申請嗎？ ( e.g., 敘利亞難民 )","開源無國界，只要符合開源與公民科技的精神，任何提案都歡迎。")
                        +cardmaker("qlfy","q7","你們接受英語或其它語系的專案嗎？","我們僅接受正體華文提案申請表，專案內容需可以至少以正體華文呈現。")
                        +cardmaker("qlfy","q8","若還有下屆小學校徵件計畫，同一專案或同一個團隊是否可以申請第二次？","可以。歡迎在公民科技領域持續努力！")
                h3.p-4 審查
                #chk-accordion
                    .card
                        +cardmaker("chk","q1","預計獎勵幾個專案？","獲獎 5 組專案。今年將保障 1 組 U-22（22 歲以下）專案，不佔前者 5 組名額。")
                        +cardmaker("chk","q2","不同主題的專案分開競爭？各主題只有一個名額嗎？","專案審查不依照主題分類，只要是指定主題所涵蓋的公民科技專案皆可申請，委員會將評估所有專案。")
                h3.p-4 成果
                #rs-accordion
                    .card
                        .card-header(id="head-rs-q1"): a(data-toggle="collapse" href="#rs-q1" role="button" aria-expanded="false" aria-controls="#rs-q1" ) 有規定使用哪種開源條款嗎？
                        .collapse(id="rs-q1" aria-labelledby="head-rs-q1" data-parent="#rs-accordion"): .card-body
                            p 根據成果類型的不同，請選用適當的授權方式，包括：<ul><li>軟體專案須使用符合 <a href="//zh.wikipedia.org/wiki/OSI%E6%A8%A1%E5%9E%8B" target="_blank">OSI</a> 認可之授權。</li><li>所有專案會使用到的文字、圖像等，都需符合 <a href="//zh.wikipedia.org/wiki/%E8%87%AA%E7%94%B1%E6%96%87%E5%8C%96%E4%BD%9C%E5%93%81%E5%AE%9A%E7%BE%A9" target="_blank">Free Culture Works</a> 定義。</li>
                        +cardmaker("rs","q2","成果如何審核？","只有獲獎專案的成果會被檢視是否以開源釋出，確認釋出後方可領取獎勵。")
                        +cardmaker("rs","q3","Demo 或解決方案的完成狀態是什麼？","Demo 可讓公民初步試用並驗證構想。解決方案須說明構想是否有過驗證，或者如何驗證構想。")
                h3.p-4 獎勵
                #rw-accordion
                    .card
                        +cardmaker("rw","q1","我什麼時候會拿到獎勵？","獲獎團隊須與主辦單位確認已將專案開源釋出，方可領取獎勵。")
                        +cardmaker("rw","q2","我想贊助零時小學校！","非常感謝！請寄信到 jothon-organizers {at} g0v.tw")
                        +cardmaker("rw","q3","我要如何聯絡主辦單位？","請寄信到 jothon-organizers {at} g0v.tw") 
                        .card-header(id="head-rw-q4"): a(data-toggle="collapse" href="#rw-q4" role="button" aria-expanded="false" aria-controls="#rw-q4" ) 我收到獎金需要繳稅嗎？
                        .collapse(id="rw-q4" aria-labelledby="head-rw-q4" data-parent="#rw-accordion"): .card-body
                            p 要，依「<a href="//www.etax.nat.gov.tw/etwmain/front/ETW118W/CON/471/9164759166372525521?tagCode=" target="_blank">競技競賽及機會中獎</a>」獎金課稅。

        include ../footer.pug
