#footer {
  bottom: 0;
  padding: 1rem 0;
  background-color: rgba(0, 0, 0, 0.6);
}

#footer a {
  font-size: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
}

#footer a:link, #footer a:visited {
  color: #CCC;
}

#footer a:link:hover, #footer a:visited:hover {
  color: #DDD;
}