body {
  color: #444;
}
a, b, p, h1, h2, h3, h4, h5, h6, li{
	font-family: 'Noto Sans TC', sans-serif;
}

p {		
	color: #666;	
	text-align: justify;
	text-justify:inter-ideograph;
}

a:link, a:visited {
	color: #e9322e;
}


.navbar .navbar-brand {
	font-weight: bold;
}

.navbar .navbar-nav a.nav-link:hover {
  transition: 0.3s;
	color: #f8f9fa;
	background-color: #0b2e43;
	border-radius: 3px;
}

.navbar .navbar-nav a.nav-dash {
	border-radius: 3px;
	border: 1px solid #AAA;
	margin: 0 0.5rem;
}

#header {
	height: 100vh;
	background-image: url(/assets/img/header.png);
	background-position: center center;
	background-size: cover;
}

#header-img {
	width: 100%;
}

.part-dark {
  background-color: #082130;
  color: #FFF;
}

.part-dark p {
  color: #DDD;
}

#howto-steps > div {
	margin-bottom: 1rem;
}

#howto-steps div p {
	padding: 0.5rem;
    text-align-last: center;
}

#howto-steps div a {
	font-size: 0.9rem;
}

.step-img {
  margin-bottom: 10px;
  width: 100%;
  min-height: 200px;
  border-radius: 3px;
	background-position: center center;
	background-size: cover;
}


ul.timeline {
    list-style-type: none;
}
ul.timeline:before {
    content: ' ';
    background: #AAA;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: calc(100% - 4rem);
	margin-top: 1.2rem;
    z-index: 400;
}
ul.timeline > li {
  border: 1px solid #AAA;
  border-radius: 3px;
  margin: 0.5rem 0;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}
ul.timeline > li:before {
    content: ' ';
    background: #AAA;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    margin: 0.6rem 0;
    left: 25px;
    width: 10px;
    height: 10px;
    z-index: 400;
}
ul.timeline .timeline-title {
	font-size: 1.2rem;
}
ul.timeline .timeline-date {
	color: #666;
	font-size: 0.8rem;
	margin: 0 1rem;
}
ul.timeline .timeline-details {
	line-height: 1rem;
	padding: 1rem 0;
}
ul.timeline > li .timeline-details a {
  margin: 0 0.5rem 0.5rem 0;
}
ul.timeline > li .timeline-details p {
  line-height: 1.5rem;  
}

.team-img {
	margin-bottom: 10px;
    width: 100%;
    min-height: 150px;
    border-radius: 3px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.partners-block {
  transition: 0.5s;
  border-radius: 3px;
  border: 1px solid #CCC;
}
.partners-block:hover {
  
  transition: 0.3s;
  border: 1px solid #888;
}
.partners-block .partner-img {
  min-height: 150px;
  border-radius: 3px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

#contact p {
	text-align: left;	
}

#footer {
	padding: 1rem 0;
	background-color: #444;
}
#footer a {
  font-size: 0.8rem;
  padding: 3px;
  margin: 3px;
  border-radius: 5px;
  background-color: #FFF;  
}
#footer a:link {
	color: #333;
}
#footer a:visited {
	color: #333;
}