.main-image {
	height: calc(100vh - 3em);
}
.main-image .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
	background-image: url("../assets/img/main_new_f.svg");
	background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#delay-info {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    background-color: rgba(0,0,0,.5);
    padding: 1rem;
}

@keyframes go-create-keyframe {
  0%   {bottom: 4rem;}
  50% {bottom: 3rem;}
}

#go-create {
  position: absolute;
  left: calc(50% - 10rem);
  width: 20rem;
  bottom: 4rem;
  animation-name: go-create-keyframe;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;  
  animation-iteration-count: infinite;
  background-color: #FF00E2;
  color: white;
  text-decoration: none;
}

#go-create:hover {
  background-color: #FF97F3;  
}

.main-image .row {
  position: relative;
  bottom: 8em;
}

#about .quote-box {
	background-image: url("../assets/img/bg_new.jpg");
	background-position: center bottom;
	background-size: cover;
  border-radius: 5px;
  color: white;
  text-align: center;
}

#news .news-list p{
  font-size: 1.2em;
}

#howto-steps > div {
	margin-bottom: 1rem;
}

#howto-steps div p {
	padding: 0.5rem;
    text-align-last: center;
}

.step-img {
  border: 1px solid rgba(8,33,48,1);
  margin-bottom: 10px;
  width: 100%;
  min-height: 200px;
  border-radius: 3px;
	background-position: center center;
	background-size: cover;
}

ul.timeline {
    list-style-type: none;
}
ul.timeline:before {
    content: ' ';
    background: #AAA;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: calc(100% - 4rem);
	margin-top: 1.2rem;
    z-index: 400;
}
ul.timeline > li {
  border: 1px solid #AAA;
  border-radius: 3px;
  margin: 0.5rem 0;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}
ul.timeline > li:hover {
  border-color: #DDD;
  transition-duration: 300ms;
}

ul.timeline > li:before {
    content: ' ';
    background: #AAA;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    margin: 0.6rem 0;
    left: 25px;
    width: 10px;
    height: 10px;
    z-index: 400;
}
ul.timeline .timeline-title {
	font-size: 1.2rem;
}
ul.timeline .timeline-date {
	color: #DDD;
	font-size: 0.8rem;
	margin: 0 1rem;
}
ul.timeline .timeline-details {
	line-height: 1rem;
	padding: 1rem 0;
}
ul.timeline > li .timeline-details a {
  margin: 0 0.5rem 0.5rem 0;
}
ul.timeline > li .timeline-details p {
  line-height: 1.5rem;
}

.jothon-banner {
  width: 100%;
  min-height: 150px;
  display: inline-block;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain;
}

.team-block .team-avatar {
  width: 100px;
  margin-right: 1rem;
}
.team-block .team-detail {
  flex: 1;
}
.team-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

#partner {
  background-color: #FFF;
  border-radius: 1em;
}

.partner-img {
	margin-bottom: 10px;
  width: 100%;
  min-height: 150px;
  border-radius: 3px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.partners-block > div {
  transition: 0.5s;
  border-radius: 3px;
  border: 1px solid #CCC;
}
.partners-block > div:hover {

  transition: 0.3s;
  border: 1px solid #888;
}
.partners-block .partner-img {
	margin-bottom: 0;
}

@media (max-width: 1200px) {
}
