#header {
	height: 95vh;
  overflow: hidden;
}
#header .inner {
  height: 100%;
	background-image: url(/assets/img/main_1920x1080_f-01.svg);
	background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

#howto-steps > div {
	margin-bottom: 1rem;
}

#howto-steps div p {
	padding: 0.5rem;
    text-align-last: center;
}

#howto-steps div a {
	font-size: 0.9rem;
}

.step-img {
  border: 1px solid rgba(8,33,48,1);
  margin-bottom: 10px;
  width: 100%;
  min-height: 200px;
  border-radius: 3px;
	background-position: center center;
	background-size: cover;
}

ul.timeline {
    list-style-type: none;
}
ul.timeline:before {
    content: ' ';
    background: #AAA;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: calc(100% - 4rem);
	margin-top: 1.2rem;
    z-index: 400;
}
ul.timeline > li {
  border: 1px solid #AAA;
  border-radius: 3px;
  margin: 0.5rem 0;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}
ul.timeline > li:hover {
  border-color: #DDD;
  transition-duration: 300ms;
}

ul.timeline > li:before {
    content: ' ';
    background: #AAA;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    margin: 0.6rem 0;
    left: 25px;
    width: 10px;
    height: 10px;
    z-index: 400;
}
ul.timeline .timeline-title {
	font-size: 1.2rem;
}
ul.timeline .timeline-date {
	color: #DDD;
	font-size: 0.8rem;
	margin: 0 1rem;
}
ul.timeline .timeline-details {
	line-height: 1rem;
	padding: 1rem 0;
}
ul.timeline > li .timeline-details a {
  margin: 0 0.5rem 0.5rem 0;
}
ul.timeline > li .timeline-details p {
  line-height: 1.5rem;
}

.jothon-banner {
  width: 100%;
  min-height: 150px;
  display: inline-block;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain;
}

.team-block .team-avatar {
  width: 100px;
  margin-right: 1rem;
}
.team-block .team-detail {
  flex: 1;
}
.team-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.partner-img {
	margin-bottom: 10px;
  width: 100%;
  min-height: 150px;
  border-radius: 3px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.partners-block {
  transition: 0.5s;
  border-radius: 3px;
  border: 1px solid #CCC;
}
.partners-block:hover {

  transition: 0.3s;
  border: 1px solid #888;
}
.partners-block .partner-img {
	margin-bottom: 0;
}

@media (max-width: 992px) {
#header {
  height: 100vh;
}
}
