.main-image {
	height: calc(100vh - 3em);
  background-image: url("/assets/img/main2023.jpg?v=1");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0A88F8;
}
/*.main-image .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
	background-image: url("../assets/img/main_new_f.svg");
	background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}*/

#delay-info {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    background-color: rgba(0,0,0,.5);
    padding: 1rem;
}

@keyframes go-create-keyframe {
  0%   {bottom: 1rem;}
  50% {bottom: 2rem;}
}

#go-create {
  position: absolute;
  left: calc(50% - 10rem);
  width: 20rem;
  bottom: 1rem;
  animation-name: go-create-keyframe;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;  
  animation-iteration-count: infinite;
  text-decoration: none;
}

.main-image .row {
  position: relative;
  bottom: 8em;
}

#about .quote-box {
	background-image: url("../assets/img/bg_new.jpg");
	background-position: center bottom;
	background-size: cover;
  border-radius: 5px;
  color: white;
  text-align: center;
}
#about .core {
  padding: 1.75rem 0 2rem 2rem;  
  width: 100%;
}
.echo .swiper-slide {
  align-self: center;
  cursor:grab;
}
.echo .swiper-button-next::after, .echo .swiper-button-prev::after {
  font-size: 2rem;
  color: #F87E08;
}
.echo .row {
  padding: 0 5rem;
}
.echo .avatar {
  object-fit: cover;
  height: 6rem;
  width: 6rem;
  border-radius: 5px;
}

#news .news-list p{
  font-size: 1.2em;
}

#todo .todo-box {
  padding: 1.5rem 1rem;
  border: 1px solid #AAA;
  border-radius: 5px;
  height: 100%;
  background-color: #FFF6;
}

#todo .todo-box ul {
  margin: 0;
}

#howto-steps > div {
	margin-bottom: 1rem;
}

#howto-steps div p {
	padding: 0.5rem;
    text-align-last: center;
}

.step-img {
  border: 1px solid rgba(8,33,48,1);
  margin-bottom: 10px;
  width: 100%;
  min-height: 200px;
  border-radius: 3px;
	background-position: center center;
	background-size: cover;
}

.jothon-banner {
  width: 100%;
  min-height: 150px;
  display: inline-block;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain;
}

.team-block .team-avatar {
  width: 100px;
  margin-right: 1rem;
}
.team-block .team-detail {
  flex: 1;
}
.team-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

#partner {
  background-color: #FFF;
  border-radius: 1em;
}

.partner-img {
	margin-bottom: 10px;
  width: 100%;
  min-height: 150px;
  border-radius: 3px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.partners-block > div {
  transition: 0.5s;
  border-radius: 3px;
  border: 1px solid #CCC;
  display: flex;
  flex-direction: column;
}
.partners-block > div:hover {

  transition: 0.3s;
  border: 1px solid #888;
}
.partners-block .partner-img {
	margin-bottom: 0;
}
.partners-block .source-other-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 992px) {
  #about .core {
    width: 100%;
    padding: 1rem 0;
  }
  .echo .row {
    padding: 0 3rem;
  }
  .main-image { 
    background-size: cover;
  }
}
