body {
    font-family: 'Noto Sans TC', sans-serif;
    color: #333;
}
p {
    color: #666;
    text-align: justify;
    word-break: break-all;
}
p a, p a:visited, p a:hover {
    color: #666;
}
#header-img, #header-img .inner-img {
    height: 100vh;
    width: 100%;
    background-image: url("../assets/img/Sch001_2020.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#header-img .inner-img {
}

.col-block {
    border: 1px solid #AAA;
    transition: 0.5s;
}
.col-block:hover {
    border: 1px solid #666;
}
.team-img {
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.media-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
}
.carousel-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 27vw;
}

#courses {
    background-color: #33F;
    min-height: 20em;
}

#courselist p {
    color: #AAA;
}
#courselist .animatenumbers {
    color: #FDD;
    font-size: 1.5em;
    width: 1.5em;
    display: inline-block;
}

@media (max-width: 991px) {
    body {
        font-size: 1.2em;
    }
    #header-img, #header-img .inner-img {
        height: 30vh;
        background-attachment: local;
    }
    .carousel-img {
        height: 60vw;
    }
    .media-img {
        height: 200px;
    }
}
