body {
    background-image     : url("/assets/img/bg_new.jpg");
    background-attachment: fixed;
    background-position  : center;
    background-size      : cover;
}

.part-dark,
.part-light {
    border-radius: 5px;
}

.part-light {
    background-color: white;
}

p strong {
    color      : #FF00E2;
    font-weight: bolder;
    transform  : scale(1.2);
    display    : inline-block;
    padding    : 0 .5rem;
}

.team-brief a {
    text-decoration: none;
}

.team-brief .title {
    color: #FCF0BA;
}

.team-img {
    padding-top        : 100%;
    background-position: center;
    background-size    : cover;
    transition         : filter .3s, transform .3s;
    border-radius      : 5px;
}

.team-img::after {
    content         : "獲選提案";
    color           : white;
    font-size       : .8rem;
    padding         : 5px 10px;
    top             : 5px;
    margin-left     : -2rem;
    position        : absolute;
    background-color: #f40;
    border-bottom   : 1px solid #c10;
}

.team-brief:hover .team-img {
    filter   : brightness(1.2);
    transform: translate(-2px, -2px);
}

.team-modal img {
    width        : 100%;
    border-radius: 5px;
}

.team-modal .team-members {
    text-align: initial;
}

.swiperSlide {
    cursor       : grab;
    border-radius: 5px;
    filter       : drop-shadow(2px 4px 6px black);
}

.carousel-img img {
    height    : 300px;
    width     : 100%;
    object-fit: cover;
}

.swiper-pagination-bullet {
    background: white;
    opacity   : .5;
}

.swiper-pagination-bullet-active {
    background: #FCF0BA;
    opacity   : 1;
}

#courselist p {
    font-size    : 1.5rem;
    margin-bottom: .5rem;
}

#courselist p .animatenumbers {
    font-weight: bolder;
    font-size  : 2rem;
    color      : #FF00E2;
}

#mediareports a {
    text-decoration: none;
}

#mediareports img {
    border-radius: 5px;
    overflow     : hidden;
    filter       : drop-shadow(2px 4px 6px black);
}

#mediareports a p {
    transition: .3s;
    outline: 2px solid transparent;
}

#mediareports a:hover p {
}

@media (max-width: 992px) {
    .swiperSlide {
        margin-bottom: 1rem;
    }

    .carousel-img img {
        height: 50vw;
    }
}