nav#navbar.navbar.navbar-expand-xl.navbar-light.bg-light.sticky-top: .container-fluid
  a.navbar-brand(href="/") Sch001 零時小學校
  button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    mixin navli(_href, _title)
      li.nav-item
        a.nav-link(href=_href)= _title
    ul.navbar-nav.ms-auto
      +navli("/#news", "最新消息")
      +navli("/#about", "關於")
      +navli("/#howto", "如何參與")
      +navli("/#team", "主辦單位")
      +navli("/#partner", "合作夥伴")
      //+navli("/means","徵件辦法")
      .d-lg-none: hr/
      .nav-item
        .dropdown
          a.btn.btn-outline-my.mx-1.dropdown-toggle(role="button" href="#" data-bs-toggle="dropdown" aria-expanded="false") 看提案
          ul.dropdown-menu 
            li: a.dropdown-item(href="//sch001.g0v.tw/dash/brd/sch001/list") 2020 提案列表
            li: a.dropdown-item(href="//sch001.g0v.tw/dash/brd/sch001-2021/list") 2021-22 提案列表
        .dropdown
          a.btn.btn-outline-my.mx-1.dropdown-toggle(role="button" href="#" data-bs-toggle="dropdown" aria-expanded="false") 看成果
          ul.dropdown-menu 
            li: a.dropdown-item(href="/2020/power") 2020 成果頁面
            li: a.dropdown-item(href="/power") 2021-22 成果頁面
      li.nav-item
        a.btn.btn-outline-my.mx-1(role="button" data-bs-toggle="modal" data-bs-target="#modal-contact" href="#") 找窗口
        a.btn.btn-outline-my.mx-1(role="button" target="_blank" href="https://g0v.hackmd.io/@jothon/jothon2022") 找活動
        a.btn.btn-outline-my.mx-1(role='button' href="https://app.studyathome.jp/zh-tw" target="_blank") 在家學習時間表
