nav#navbar.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top
  a.navbar-brand(href="/") Sch001 零時小學校
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    mixin navli(_href, _title)
      li.nav-item
        a.nav-link(href=_href)= _title
    ul.navbar-nav.ml-auto
      +navli("#about", "關於零時小學校")
      +navli("#howto", "如何參與")
      +navli("#schedule", "課程表")
      +navli("#team", "主辦單位")
      +navli("#partner", "合作夥伴")
      +navli("/means","徵件辦法")
      li.nav-item
        a.btn.btn-outline-secondary.mx-1.disabled(role="button" href="#") 看提案
      li.nav-item
        a.btn.btn-outline-secondary.mx-1.disabled(role="button" href="#") 找資源
      li.nav-item
        a.btn.btn-outline-my.mx-1(role="button" data-toggle="modal" data-target="#modal-contact" href="#") 找窗口
      li.nav-item
        a.btn.btn-outline-my.mx-1(role="button" href="https://g0v.hackmd.io/@jothon/sch001/%2F%40jothon%2FSyT8dEm1I" target="_blank") 找共筆