//- view
extends /base.pug
block head
  link(href='//cdn.quilljs.com/1.3.7/quill.snow.css' rel='stylesheet')
  +css("/dash/css/quill/index.css")
block body
  .post-view
    .w-1024.rwd.mx-auto.typeset.heading-contrast.ql-editor
      if exports && exports.post && exports.post.detail
        div !{exports.post.detail.content}
