:root {
  --color-my-y: #f7bf4d;
  --color-my-o: #ff5933;
}

body {
  color: #FCF0BA;
	font-family: 'Noto Sans TC', sans-serif;
}

.w-1024 {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

body:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:-1;
  height: 100vh;
	background-image: url("../assets/img/bg_2024AI_simple.jpg");
	background-position: center bottom;
  background-repeat: no-repeat;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
  margin-bottom: .75rem;
}

li:not(.nav-item) {
  margin-bottom: .25rem;
}

p, li:not(.nav-item) {
  line-height: 2;
	color: #FFF;
	text-align: justify;
	text-justify:inter-ideograph;
}
red {
  color: red;
}

black {
  color: black;
}

.bg-gray-300 {
  background-color: var(--bs-gray-300);
}

a:link, a:visited {
  &:not(.btn, .nav-link, .navbar-brand) {
    color: var(--color-my-o);
    text-decoration: underline;
    &:hover {
      transition: .3s;
      filter: opacity(.8);
    }
  }
}

a.nav-link, a.navbar-brand {
  text-decoration: none;
}

a.btn-my {
  color: white;
  background-color: var(--color-my-o);
  text-decoration: none;
  transition: filter .3s;
}
a.btn-my:hover {
  color: white;
  filter: brightness(1.2);
}

a.btn-outline-my {
  color: var(--color-my-o);
  background-color: rgba(0,0,0,0);
  border: 1.2px solid var(--color-my-o);
  text-decoration: none;
}
a.btn-outline-my:hover {
  color: #FFF;
  background-color: var(--color-my-o);
  filter: none;
}

.navbar .navbar-brand {
	font-weight: bold;
}

.navbar .btn {
  height: 40px;
}

.navbar .navbar-nav a.nav-link {
	border-radius: 4px;
}
.navbar .navbar-nav a.nav-link:hover {
  transition: 0.3s;
	color: #f8f9fa;
	background-color: #f45336;
}

.navbar .dropdown {
  display: inline;
}

.navbar .dropdown .dropdown-item {
	color: var(--color-my-o);
}

.part-dark {
  background-color: #264040bb;
  color: #FCF0BA;
}

.part-light-gradient {
  background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.5) 100%);
  color: #555;
}

.part-light {  
  background-color: rgba(255,255,255,0.9);
  color: #555;
}

.part-light p, .part-light li {
  color: #555;
}

.part-light h1, .part-light h2, .part-light h3, .part-light h4, .part-light h5, .part-light h6 {
  color: #111;
}

#footer {
  bottom: 0;
	padding: 1rem 0;
	background-color: rgba(0,0,0,0.6);
}
#footer a {
  font-size: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
}
#footer a:link, #footer a:visited {
  color: #CCC;
}
#footer a:link:hover, #footer a:visited:hover {
  color: #DDD;
}

@media (max-width: 992px) {
  .navbar .nav-item .btn {
    margin-top: 0.5em;
  }
}
