body:after {
    background-image: url("../assets/img/bg_2023_simple.png")
}

#means {
    color: white;
    font-size: 1.1rem;

    .text-yellow,
    hl,
    b {
        color: #ffff68;
    }

    a:link,
    a:visited {
        &:not(.btn, .nav-link, .navbar-brand) {
            color: #ffff95;
        }
    }
}