body {
  color: #FCF0BA;
	font-family: 'Noto Sans TC', sans-serif;
}

.w-1024 {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

body:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:-1;
  height: 100vh;
	background-image: url("../assets/img/bg_new.jpg");
	background-position: center bottom;
  background-repeat: no-repeat;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p, li {
	color: #FFF;
	text-align: justify;
	text-justify:inter-ideograph;
}
red {
  color: red;
}

black {
  color: black;
}

a:link, a:visited {
	color: #FF00E2;
  text-decoration: underline;
}

a.nav-link, a.navbar-brand {
  text-decoration: none;
}

a.btn-my {
  color: white;
  background-color: #FF00E2;
  text-decoration: none;
  transition: background-color .3s;
}
a.btn-my:hover {
  color: white;
  background-color: #FF97F3;
}

a.btn-outline-my {
  color: #FF00E2;
  background-color: rgba(0,0,0,0);
  border: 1.2px solid #FF00E2;
  text-decoration: none;
}
a.btn-outline-my:hover {
  color: #FFF;
  background-color: #FF00E2;
}

.navbar .navbar-brand {
	font-weight: bold;
}

.navbar .navbar-nav a.nav-link:hover {
  transition: 0.3s;
	color: #f8f9fa;
	background-color: #13295E;
	border-radius: 3px;
}

.navbar .navbar-nav a.nav-dash {
	border-radius: 3px;
	border: 1px solid #AAA;
	margin: 0 0.5rem;
}

.navbar .dropdown {
  display: inline;
}

.navbar .dropdown .dropdown-item {
	color: #FF00E2;
}

.navbar .dropdown-menu[data-bs-popper] {
  top: 150%;
}

.part-dark {
  background-color: rgba(8,33,48,0.5);
  color: #FCF0BA;
}

.part-light-gradient {
  background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.5) 100%);
  color: #555;
}

.part-light {  
  background-color: rgba(255,255,255,0.9);
  color: #555;
}

.part-light p, .part-light li {
  color: #555;
}

.part-light h1, .part-light h2, .part-light h3, .part-light h4, .part-light h5, .part-light h6 {
  color: #111;
}

#footer {
  bottom: 0;
	padding: 1rem 0;
	background-color: rgba(0,0,0,0.6);
}
#footer a {
  font-size: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
}
#footer a:link, #footer a:visited {
  color: #CCC;
}
#footer a:link:hover, #footer a:visited:hover {
  color: #DDD;
}

@media (max-width: 992px) {
  .navbar .nav-item .btn {
    margin-top: 0.5em;
  }
}
