body {
  color: #FCD0D3;
	background-image: url(/assets/img/main_1920x1080_b-01.jpg);
  background-attachment: fixed;
	background-position: center 50px;
	background-size: cover;  
}
a, b, p, h1, h2, h3, h4, h5, h6, li{
	font-family: 'Noto Sans TC', sans-serif;
}

p, li {		
	color: #FFF;	
	text-align: justify;
	text-justify:inter-ideograph;
}

a:link, a:visited {
	color: #FC761B;
}
.btn-outline-my {
  color: #FC761B;
  background-color: rgba(0,0,0,0);
  border: 1.2px solid #FC761B;
}
.btn-outline-my:hover {
  color: #FFF;  
  background-color: #FC761B;
}

.navbar .navbar-brand {
	font-weight: bold;
}

.navbar .navbar-nav a.nav-link:hover {
  transition: 0.3s;
	color: #f8f9fa;
	background-color: #0b2e43;
	border-radius: 3px;
}

.navbar .navbar-nav a.nav-dash {
	border-radius: 3px;
	border: 1px solid #AAA;
	margin: 0 0.5rem;
}

#contact p {
	text-align: left;	
}

#footer {
  bottom: 0;
	padding: 1rem 0;
	background-color: rgba(0,0,0,0.6);
}
#footer a {
  font-size: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
}
#footer a:link {
  color: #AAA;
}
#footer a:visited {
  color: #AAA;
}