body {
  color: #FCD0D3;
  background-color: #0B2E43;
	background-image: url(/assets/img/bg.min.jpg);
  background-attachment: fixed;
	background-position: center bottom;
	background-size: cover;
}
a, b, p, h1, h2, h3, h4, h5, h6, li{
	font-family: 'Noto Sans TC', sans-serif;
}

p, li {
	color: #FFF;
	text-align: justify;
	text-justify:inter-ideograph;
}
red {
  color: red;
}


a:link, a:visited {
	color: #FC761B;
}

a[role=button] {  
  color: white;
}
a.btn-outline-my {
  color: #FC761B;
  background-color: rgba(0,0,0,0);
  border: 1.2px solid #FC761B;
}
a.btn-outline-my:hover {
  color: #FFF;
  background-color: #FC761B;
}

.navbar .navbar-brand {
	font-weight: bold;
}

.navbar .navbar-nav a.nav-link:hover {
  transition: 0.3s;
	color: #f8f9fa;
	background-color: #0b2e43;
	border-radius: 3px;
}

.navbar .navbar-nav a.nav-dash {
	border-radius: 3px;
	border: 1px solid #AAA;
	margin: 0 0.5rem;
}

.part-dark {
  background-color: rgba(8,33,48,0.5);
  color: #FCD0D3;
}

.part-dark p {
  color: #FFF;
}

.part-light-gradient {
  background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.5) 100%);
  color: #666;
}

.part-light {  
  background-color: rgba(255,255,255,0.9);
  color: #666;
}

.part-light p, .part-light li {
  color: #444;
}

#footer {
  bottom: 0;
	padding: 1rem 0;
	background-color: rgba(0,0,0,0.6);
}
#footer a {
  font-size: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
}
#footer a:link {
  color: #AAA;
}
#footer a:visited {
  color: #AAA;
}

@media (max-width: 992px) {
  .navbar .nav-item .btn {
    margin-top: 0.5em;
  }
}
