body:after {
  background-image: url("../../assets/img/bg_2023_simple.png");
}

#means {
  color: white;
  font-size: 1.1rem;
}
#means .text-yellow,
#means hl,
#means b {
  color: #ffff68;
}
#means a:link:not(.btn, .nav-link, .navbar-brand),
#means a:visited:not(.btn, .nav-link, .navbar-brand) {
  color: #ffff95;
}